node_modules/
**/node_modules
**/package-lock.json
/package-lock.json
package-lock.json/**/*
/node_modules
node_modules/**/*
.DS_Store
.expo/*
/.expo
/.expo-shared
/.expo-shared
.expo/**/*
.expo-shared/**/*
.DS_Store
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
